<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Watchful Pidgeon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="PAllen">
    <meta charset="utf-8">
    <link href="C:/Users/PallenDesk/Documents/Projects/Website/TWPenv/TheWatchfulPidgeon/TheWatchfulPidgeon/static/css/bootstrap.css" rel="stylesheet">
    <style> body { padding-top: 65px; } </style>
  </head>
<body>
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./index.html">Bootstrap</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="./index.html">Home</a>
              </li>
              <li class="">
                <a href="./getting-started.html">Get started</a>
              </li>
              <li class="">
                <a href="./scaffolding.html">Scaffolding</a>
              </li>
              <li class="">
                <a href="./base-css.html">Base CSS</a>
              </li>
              <li class="">
                <a href="./components.html">Components</a>
              </li>
              <li class="">
                <a href="./javascript.html">JavaScript</a>
              </li>
              <li class="">
                <a href="./customize.html">Customize</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
	<div class="new">
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
	</div>
	<footer class="footer">
		<hr>
		<p>&copy; The Watchful Pidgeon</p>
	</footer>
</body>
</html>